---
import "src/base.css";
import "@fontsource/exo-2";
import exo2Url from "@fontsource/exo-2/files/exo-2-latin-400-normal.woff2";

export interface Props {
	title: string;
	description?: string;
	author?: string;
	thumbnailImagePath?: string;
}

const {
	title,
	description = import.meta.env.PUBLIC_SITE_TAGLINE,
	author,
	thumbnailImagePath,
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
	<head>
		<meta charset="utf-8" />

		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<title>{title} — {import.meta.env.PUBLIC_SITE_TAGLINE}</title>
		<meta property="og:type" content="website" />
		<meta name="description" property="og:description" content={description} />
		{author && <meta name="author" content={author} />}

		<meta
			property="og:image"
			content={thumbnailImagePath ?? "/icons/icon-512x512.png"}
		/>
		<meta
			name="twitter:card"
			content={thumbnailImagePath ? "summary_large_image" : "summary"}
		/>

		<link
			rel="alternate"
			type="application/rss+xml"
			title="Web feed"
			href="/rss/feed.xml"
		/>

		<link rel="canonical" href={new URL(Astro.url.pathname, Astro.site)} />

		<link
			rel="preload"
			href={exo2Url}
			as="font"
			type="font/woff2"
			crossorigin="anonymous"
		/>
	</head>
	<body class="bg-brown-500 text-amber-50">
		<slot />
	</body>
</html>
